header
sideBar
script(type='text/ng-template', id='error.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Error
        .top-lg-sep.notification-text {{errorMessage}}
    
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="cancel()") Close

script(type='text/ng-template', id='changeSafePopup.html')
          .modal-sep
            .common-header-label.text-center Configure your app 

          //-   First popup of the AWS configure with multiple ID input fields

          .left-lg-sep.right-lg-sep
            .common-form.modal-inner-wrapper.aws
              .common-form-row
                .details-input-group
                    .common-form-label Role Name
                      span *
                    input.form-control.input-box-style(value="{{awsConfPopupObj.role}}" restrict-special-char ng-model="awsConfPopupObj.role" placeholder="Role name")
              .aws-conf.clearfix
                .font-type-normal Please fill at least one of the following

                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Account ID
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_account_id}}" restrict-special-char placeholder="Account ID" ng-model="awsConfPopupObj.bound_account_id")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Region
                    input.form-control.input-box-style(value="{{awsConfPopupObj.region}}" restrict-special-char placeholder="Region ID" ng-model="awsConfPopupObj.region")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label VPC ID
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_vpc_id}}" restrict-special-char placeholder="VPC ID" ng-model="awsConfPopupObj.bound_vpc_id")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Subnet ID
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_subnet_id}}" restrict-special-char placeholder="Subnet ID" ng-model="awsConfPopupObj.bound_subnet_id")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label AMI ID
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_ami_id}}" restrict-special-char placeholder="AMI ID" ng-model="awsConfPopupObj.bound_ami_id")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Instance Profile ARN
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_iam_instance_profile_arn}}" restrict-special-char placeholder="Instance Profile ARN" ng-model="awsConfPopupObj.bound_iam_instance_profile_arn")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label IAM Role ARN
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_iam_role_arn}}" restrict-special-char  placeholder="IAM Role ARN" ng-model="awsConfPopupObj.bound_iam_role_arn")
                
              .aws.common-form
                .common-form-row
                    .aws-conf.clearfix
                        .details-input-group
                            .common-form-label Permission
                            .common-radio-group
                                radio-buttons(data="radio" value="awsRadioBtn.value" state="true")
          .text-center.bottom-lg-sep.modal-sep.aws
            .clearfix.bottom-sm-sep
              button.common-btn.btn.btn-primary.btn-lg(ng-click="addPermission('AwsRoleConfigure', awsConfPopupObj.role, awsRadioBtn.value)" ng-disabled="!(awsConfPopupObj.role.length > 0 && (awsConfPopupObj.bound_account_id.length > 0 || awsConfPopupObj.region.length > 0 || awsConfPopupObj.bound_vpc_id.length > 0 || awsConfPopupObj.bound_subnet_id.length > 0 || awsConfPopupObj.bound_ami_id.length > 0 || awsConfPopupObj.bound_iam_instance_profile_arn.length > 0 || awsConfPopupObj.bound_iam_role_arn.length > 0) )" ) {{editingAwsPermission.status == true ? "Update" : "Create"}}
            .clearfix
              button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") Cancel

script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
.container-fluid.common-main-content.route-page.change-safe-wrapper
    .container-fluid-wrapper.curved
      .page-header-container
        .header-inner-container.header-without-tab(ng-class="{'no-tabs-header' : showDetails}" ng-cloak="")
            .clearfix
              .left-arrow.glyphicon.glyphicon-menu-left.left.common-header-label(ng-click="goBack()")
              .left-sm-sep.left.page-header-text {{changeSafeHeader}} 
                  span.safe-in-edit {{safe.name}}
            nav-bar(active-tab="details" gotoPage="goToPage" nav-tags="detailsNavTags" ng-if="activeDetailsTab == 'details' ")
            nav-bar(active-tab="permissions" gotoPage="goToPage" nav-tags="detailsNavTags" ng-if="activeDetailsTab == 'permissions' ")            
      .page-content-container(ng-class="{'no-tabs-body' : showDetails}" ng-cloak="")
          .page-content-container.details(ng-if="showDetails" ng-cloak="" ng-show="showDetails")
              form.row(name="createSafeDetails" ng-submit="goToPermissions()")
                .page-content-container
                  .clearfix.details-wrapper
                    loading-state(ng-if='isLoadingData')
                    .safe-left-content-container.border-right.col-lg-6.col-sm-5
                      .common-section-label SAFE DETAILS
                      .common-form
                        .row
                          .common-form-row.col-lg-12.col-md-12.col-sm-12.col-xs-12
                            .details-input-group
                              .common-form-label Name
                              input.form-control.input-box-style(ng-model="safe.name" ng-disabled="changeSafeHeader == 'EDIT SAFE' || safeCreated" ng-change="replaceSpaces()" restrict-special-char placeholder="Name of the safe" required)
                              .status-text.available(ng-if = "!isEditSafe && similarSafes === 0 && safe.name.length !== 0 && !typeDropdownDisable") Available
                              .status-text.exists(ng-if = "!isEditSafe && similarSafes !== 0 && similarSafes !== allSafesList.length") Safe Exists
                              .existance-check(ng-repeat="item in similarSafes = ( allSafesList | filter : safe.name:true ).length") {{similarSafes}}                                
                        .row.middle
                          .common-form-row.clearfix
                            .col-lg-5.col-md-12.col-sm-12.col-xs-12.full-row-fix
                              .row
                                .details-input-group.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                  .common-form-label Type
                                  drop-down(drop-down-options="dropDownOptions" dropdown-disable="typeDropdownDisable" error="noTypeSelected")
                            .col-lg-6.col-md-12.col-sm-12.col-xs-12.full-row-fix.col-lg-offset-1.col-lg-offset-1
                              .row
                                .details-input-group.left-sm-sep.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                  .common-form-label Owner
                                  input.form-control.input-box-style(ng-model="safe.owner" name="ownerEmail" type="email" placeholder="Email address of the safe owner" required)
                        .row
                          .common-form-row.col-lg-12.col-md-12.col-sm-12.col-xs-12
                            .details-input-group
                              .common-form-label Description
                              textarea.form-control.input-box-style.details-textarea(ng-model="safe.description" placeholder="A description about the safe" required)
                    .safe-right-content-container.col-lg-6.col-sm-7#full-height

                      .safe-detail-container-block
                        .safe-img-container.text-center
                          img
                        div.font-type-normal A Safe is a logical unit to store the secrets. All the safes are created within Vault. You can control access only at the safe level. As a vault administrator you can manage safes but cannot view the content of the safe. You can create a safe for individuals, or a group or for an application. Use the permissions tab to control the access to safe.

                  .clearfix.btn-section
                    .right.col-lg-6.col-md-6.col-sm-6.col-xs-12.bottom-lg-sep.top-lg-sep
                      .right
                        button.common-btn.btn.btn-primary.btn-lg(type='submit') Next
                      .right.right-sm-sep
                        button.link-style.common-btn.btn.btn-default.btn-lg.col-lg-6.col-md-6.col-sm-6.col-xs-12(type='button' ng-click="goBack()") Cancel
          .page-content-container.permissions(ng-if="!showDetails" ng-show="!showDetails" ng-cloak="")
                md-content
                    md-tabs(md-dynamic-height md-border-bottom)
                        md-tab(label="Users")
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    .row.change-safe
                                        .add-block.container.name.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                            //- input.form-control.input-box-style(id="addUser" class="form-control" placeholder="Username" restrict-special-char ng-model="userNameVal" ng-class="{error: userNameValEmpty &&  (userNameVal == '' ||  userNameVal == undefined)}" ng-change="userNameValEmpty = false;")
                                            input.form-control.input-box-style(type='text' class="form-control" auto-complete restrict-special-char ui-items='dropDownValArray.userNameDropdownVal' placeholder='Username' ng-model="userNameVal" id="addUser" ng-class="{error: userNameValEmpty &&  (userNameVal == '' ||  userNameVal == undefined)}" ng-change="periscopeSearch.userName = userNameVal; userNameValEmpty = false;")
                                        .add-block.container.radio-inputs.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                            radio-buttons(data="radio" value="usrRadioBtnVal" state="true")

                                        .add-block.container.actions.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                            button.btn.btn-primary.btn-lg(ng-click="addPermission('users',userNameVal,usrRadioBtnVal);userNameValEmpty = true") ADD USER
                                            //- .function-text.right.link-style(ng-click="addPermission('users',userNameVal,usrRadioBtnVal);userNameValEmpty = true")
                                            //-     .add-icon-container.action-icon-wrapper.static
                                            //-         .rotate.glyphicon.glyphicon-remove-circle 
                                            //-     .text ADD USER
                                    .unavailable-text(ng-if='isEmpty(UsersPermissionsData)')
                                      | No users are given permission to access this safe,<br> add users to access the safe 
                                    .row.change-safe-table-container(ng-if='!isEmpty(UsersPermissionsData)')
                                        loading-state(ng-if='isLoadingData')
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 NAME  
                                            .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-show="!isLoadingData" ng-init="editPermissionItem = false; activeItem = false; radioValue = value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in UsersPermissionsData")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('users', true, false, key, radioValue)")                                                    
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('users', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                                            .row.change-safe.item.hide-in-tablet-up(ng-show="!isLoadingData" ng-init="editPermissionItem = true; activeItem = false; radioValue = value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in UsersPermissionsData")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('users', editPermissionItem, false, key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}") 
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")                                                    
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('users', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE                                                    
                                                                    
                        md-tab(label="Groups")
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    .row.change-safe
                                        .add-block.container.name.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                            input.form-control.input-box-style(id="addGroup" class="form-control" placeholder="Group Name" restrict-special-char ng-model="grpNameVal" ng-class="{error: grpNameValEmpty &&  (grpNameVal == '' ||  grpNameVal == undefined)}" ng-change="grpNameValEmpty = false;")
                                        .add-block.container.radio-inputs.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                            radio-buttons(data="radio" value="grpRadioBtnVal" state="true")
                                        .add-block.container.actions.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                            button.btn.btn-primary.btn-lg(ng-click="addPermission('groups', grpNameVal,grpRadioBtnVal);grpNameValEmpty = true") ADD GROUP
                                            //- .function-text.right.link-style(ng-click="addPermission('groups', grpNameVal,grpRadioBtnVal);grpNameValEmpty = true")
                                            //-     .add-icon-container.action-icon-wrapper.static
                                            //-         .rotate.glyphicon.glyphicon-remove-circle 
                                            //-     .text ADD GROUP
                                    .unavailable-text(ng-if="isEmpty(GroupsPermissionsData)")
                                      | No groups are given permission to access this safe,<br> add groups to access the safe
                                    .row.change-safe-table-container(ng-if="!isEmpty(GroupsPermissionsData)")
                                        loading-state(ng-if='isLoadingData')
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 NAME
                                            .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-show="!isLoadingData" ng-init="editPermissionItem = false; activeItem = false; radioValue = value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in GroupsPermissionsData")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('groups', true, false, key, radioValue)")                                                    
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('groups', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                                            .row.change-safe.item.hide-in-tablet-up(ng-show="!isLoadingData" ng-init="editPermissionItem = true; activeItem = false; radioValue = value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in GroupsPermissionsData")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('groups', editPermissionItem, false, key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}")
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('groups', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE                                                    
                        md-tab(label="AWS Applications")
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    .row.change-safe
                                        .container.actions
                                            .function-text.right.link-style(ng-click="newAwsConfiguration('md')")
                                                .add-icon-container.action-icon-wrapper.static
                                                    .rotate.glyphicon.glyphicon-remove-circle 
                                                .text ADD AWS CONFIGURATION
                                    .unavailable-text(ng-if="isEmpty(AwsPermissionsData.data)")
                                      | No applications are given permission to access this safe,<br> add applications to access the safe
                                    .change-safe-table-container(ng-if="!isEmpty(AwsPermissionsData.data)")
                                        loading-state(ng-if='isLoadingData')
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 NAME 
                                            .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-if="!isLoadingData" ng-init="editPermissionItem = false; activeItem = false; radioValue = value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in AwsPermissionsData.data")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-click="editAWSConfigurationDetails(editPermissionItem, key)" ng-class="{'inactive' : editPermissionItem == false, 'pink-text' : editPermissionItem == true}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('AWSPermission', true, false, key, radioValue)")
                                                    .down.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('AWSPermission', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE                                                    
                                            .row.change-safe.item.hide-in-tablet-up(ng-if="!isLoadingData" ng-init="editPermissionItem = true; activeItem = false; radioValue = value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in AwsPermissionsData.data")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-click="editAWSConfigurationDetails(editPermissionItem, key)" ng-class="{'inactive' : editPermissionItem == false, 'pink-text' : editPermissionItem == true}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('AWSPermission', editPermissionItem, false, key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}")                                                    
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('AWSPermission', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                .clearfix.btn-section
                  .right.col-lg-6.col-md-6.col-sm-6.col-xs-12.bottom-lg-sep.top-lg-sep
                    .right
                      button.common-btn.btn.btn-primary.btn-lg(type='button' ng-click="safeEditSafe()") Done
                  
