.no-tabs-header {
  // height: 19.5vh;
  height: 17.5vh;
}
.page-content-container.details form.row {
  height: 100% !important;
}
.page-content-container.details form.row .page-content-container {
  height: 100% !important;
}
.page-content-container.details form.row .page-content-container .btn-section,
.page-content-container.permissions .clearfix.btn-section {
  border-radius: 0.5vh;
}
.container-fluid.route-page.change-safe-wrapper .page-header-container {
  height: auto;
}
.container-fluid.route-page.change-safe-wrapper .page-content-container {
  // height: 74vh;
  height: 75.5vh;
}
.container-fluid.route-page.change-safe-wrapper .page-content-container.no-tabs-body {
  // height: 69vh;
  height: 71vh;
}
.page-content-container.no-tabs-body {
  /* height: calc(100% - 18rem) !important; Not required */
  height: 70.5vh;
}
.left-arrow {
    padding-top: 3vh;
    font-size: 3.4vh;
}
.glyphicon.glyphicon-remove-circle {
  // font-size: 2rem !important;
  font-size: 2.4vh;
  -webkit-text-stroke: 1px white;
}
.details .common-main-content .page-content-container {
  height: calc(100vh - 30rem) !important;
  overflow: auto;
  padding-top: 3rem;
}
.page-content-container.details,
.page-content-container.permissions {
  height: 100% !important;
}
.page-header-container .header-inner-container.header-without-tab .clearfix {
  // padding-bottom: 1.3vh;
  padding-bottom: 0vh;
}
.details .border-right {
  border-right: 1px solid $gray-dark;
}
.details-input-group {
  width : 100%;
  height: 100%;
}
.btn-section{
  bottom: 0;
  position: absolute;
  width: 100%;
  right: 0;
  box-shadow: inset 0px 0px 0px 0px #dcdcdc, 0px -5px 3px -1px #ececec;
  background: #fff;
}
.common-form .common-form-row {
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.details-input-group{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.head-fix{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#aws {
  padding-bottom : 3px;
}
#full-height {
  height : 100%;
}

.full-row-fix{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Modal window popup

.modal-content{
    .modal-sep {
      padding: 6% 11% 2% !important;
    }
    .top-lg-sep .common-header-label {
      font-weight: bold;
      // padding: 2rem 0rem;
      padding: 3.5vh 0rem;
    }
    .modal-inner-wrapper{
      padding: 0 3vw;
    }

    .awsConfFinalPopup .common-radio-group {
      text-align: center;
      padding-top: 3vh;
    }
    .awsConfFinalPopup .modal-inner-wrapper{
      padding: 0;
      width: 69%;
      margin: 0 auto;
    }
    .awsConfFinalPopup .common-radio-group label{
      padding: 2px 10px;
    }
    .common-form-row  {
      padding: 0% !important;
    }
    .aws.common-form .common-radio-group {
      padding-left : 0;
      padding-right: 0;
    }
    .aws-conf .common-form-row:nth-child(odd){
      padding-left: 10px !important;
    }
    .aws-conf .common-form-row:nth-child(even){
      padding-right: 10px !important;
    }
    .aws-conf {
        padding-top: 15px;
    }
    .common-form-label.common-label.title {
      padding: 4% 0 2px !important;
      font-weight: bold;
    }    
    button.btn{
      padding: 1.3vh 0.5vw !important;
      width: auto;
      font-family: montserrat;
    }

}
.header-without-tab{
  // padding: 1.1rem 4rem 1.1rem 4rem;
  padding: 1.4vh 4.8vh 1.4vh 4.8vh;
}
.header-without-tab .breadcrumb span {
    padding: 0 10px 0 0;
}

.breadcrumb-arrow {
    color: $pink;
    margin-top: 1vh;
}
.safe-left-content-container{
  padding: 0 9.3vw 0 3.1vw !important;
}
.safe-right-content-container{
  padding: 0 !important;
}

.safe-detail-container-block {
    width: 60%;
    margin: auto;
}
.safe-img-container img {
    background: url(../assets/images/safe_icon.png);
    width: 150px;
    height: 150px;
    background-size: contain;
    margin-bottom: 20px;
}
.font-type-normal {
    font-size: 1.8vh;
    color: #000;
    font-family: montserratlight;
}
.details .right.bottom-lg-sep.top-lg-sep,
.permissions .right.bottom-lg-sep.top-lg-sep {
    // padding: 15px 4rem 0px;
    padding: 2vh 3vh 2vh;
    //height: 9vh;
}
.details .clearfix.details-wrapper {
  // padding-top: 5rem;
  padding-top: 6vh;
  width: 100%;
  position: relative;
  overflow: auto;
  height: calc(100% - 5rem);
}
.details .clearfix.details-wrapper  .loader-wrapper {
  position: relative !important;
}
@media only screen and (max-width: 751px) {
  .left-arrow.glyphicon.glyphicon-menu-left.left{
      display: none !important;
  }

  .page-content-container .col-sm-5.right-lg-sep{
    padding: 0 1.5rem;
  }

  .details .border-right {
    border: none !important;
  }

  #full-height{
    height: 50% !important;
    margin-top: 3rem;
  }

  .common-main-content .page-content-container .right-lg-sep .common-form{
    border-bottom: 1px solid #999;
    height: 94%;
  }
  .safe-left-content-container,
  .safe-right-content-container{
    padding: 0 4rem !important;
  }
  .modal-content .aws-conf .common-form-row:nth-child(even),
  .modal-content .aws-conf .common-form-row:nth-child(odd){
    padding: 0 !important;
  }

  .page-content-container.details .row,
  .page-content-container.details .row .page-content-container {
    height: 100% !important;
  }
  .safe-detail-container-block {
    width: 100% !important;
  }
  .safe-right-content-container {
    margin: 4rem 0 0rem !important;
    height: auto !important;
  }
  .page-content-container.details .row .page-content-container .clearfix.details-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 7rem !important;
  }
  .page-content-container.no-tabs-body {
    /*height: calc(100% - 13rem) !important; Not required */
    height: 75vh !important;
  }
  .container-fluid.route-page.change-safe-wrapper .page-content-container {
    height: 76vh !important;
  }
}
.page-header-text span.safe-in-edit {
    color: #999;
    display: flex;
    padding-left: 0.5vw;
    float: right;
    font-size: 2.5vh;
    margin-left: 1vw;
    border-left: 1px solid #999;
    flex-direction: column;
    justify-content: center;
  @media #{$small-only}{
    display:block;
    padding-left: 0;
    margin-left: 0;
    float: left;
    border-left: none;
  }
}

.page-header-container .header-without-tab {
    padding: 0vh 4.8vh 0vh 4.8vh;
}
.page-header-container .header-without-tab .page-header-text {
    padding-top: 2.4vh;
}
.page-header-container .header-without-tab .page-nav-block {
  padding: 1vh 0;
}
 

// Permissions pages

.icon-cross:before {
  content: "\ea0f";
}
.permissions .page-header-text {
    text-transform: none;
}
.permissions .list-icon {
  position: relative !important;
}
.permissions .list-icon.hide-icon {
  display: none !important;
}
.permissions .list-icon.icon-cross {
  // font-size: 1.5rem !important;
  // padding: 1.2rem 3rem 1.2rem 0 !important;
  font-size: 2vh !important;
  padding: 1.5vh 3vh 1.5vh 0 !important;
  color: $brand-primary !important;
}
.permissions .change-safe-table-container {
  //  margin-top: 3rem;
  //  height: calc(100% - 12rem);
   margin-top: 3.6vh;
   height: calc(100% - 16vh);
}
.permissions .change-safe-table-data {
  height: calc(100% - 4rem) !important;
  overflow-y: auto;
}
.permissions .row.change-safe {
    //padding-right: 35%;
    padding-left: 0rem;
    // height: 4rem;
    //height: 5vh;
}
.permissions .row.change-safe .container {
    padding: 0 5% 0 0;
    float: left;
}
.permissions .row.change-safe .container.name {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.permissions .row.change-safe .container.name input {
    // height: 3.5rem
    height: 4vh;
    font-size: 1.7vh;
    padding: 1vh 1.5vh;
}
.permissions .row.change-safe .container.radio-inputs {
    //width: 35%;
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
}
.permissions .row.change-safe .container.actions {
    height: 6vh;
    padding-right: 0%;
}
.permissions .row.change-safe .container.actions .function-text {
    // height: 3rem;
    // padding: 0.7rem 0 0.6rem 0rem !important;
    height: 4vh;
    font-size: 1.7vh;
    padding: 0.5vh 0 1vh 0 !important;
    float: left !important;
}
.permissions .row.change-safe.header {
  border-bottom: 1px solid $gray-dark;
}
.permissions .row.change-safe.header .name {
  padding: 1.5vh 0;
  font-size: 1.6vh;
}
.permissions .row.change-safe.header .name,
.permissions .row.change-safe.header .radio-inputs {
  padding: 1.5vh 0;
  font-size: 1.5vh;
}
.permissions .header .radio-inputs {
  padding: 1.5vh 0;
}
.permissions .change-safe-table-container .row.change-safe.header,
.permissions .change-safe-table-container .row.change-safe.item {
  padding-left: 1rem !important;
}
.permissions .change-safe-table-container .container.radio-inputs {
  padding: 1vh 0vh;
  height: 6vh;
}
.permissions .change-safe-table-container .item {
  border-bottom: 1px solid #ccc;
}
.permissions .change-safe-table-container .item .name {
  // padding: 1rem 5% 1rem 0;
  // overflow: hidden;
  padding: 1.4vh 5% 1.4vh 0;
  font-size: 1.7vh;
  color: $gray-dark;
  //width: 31.5% !important;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.permissions .change-safe-table-container .item .down {
  height: 6vh;
  width: 4vw;
}
.permissions .change-safe-table-container .item .down .list-icon {
  padding: 1vh 3vh 1vh 0.3vw;
  font-size: 3vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.permissions .change-safe-table-container .item .down.edit { 
  float: right;
}
.permissions .change-safe-table-container .item .down .list-icon.icon-delete,
.permissions .change-safe-table-container .item .down .list-icon.icon-mode_edit {
  padding: 1.5vh 2vh 1.5vh 0.3vw;
}
.permissions .change-safe-table-container .item .down:first-child {
  margin-left: 0vw;
  float: right;
}
.permissions .change-safe-table-container .item .down.save {
  width: 4vw;
  float: left;
  margin-left: 2vw;
}
.permissions .change-safe-table-container .item:hover {
  background: #f6f6f6 !important;
}
.permissions .change-safe-table-container .item .down.save .list-icon {
  font-size: 1.7vh;
  font-family: montserrat;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 1.3vh 3vh 1.3vh 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.inactive {
  color: #888 !important;
}
.grayBackground {
  background: #f6f6f6 !important;
}
md-radio-button .md-label,
md-radio-button .md-label.inactive {
  color: #333 !important;
  font-weight: bold;
}
.page-content-container.permissions md-content.md-padding {
  overflow: hidden !important;
}

.permissions .new-container.page-content-container {
  width: 96% !important;
}
.permissions .loader-wrapper {
  position: relative !important;
}
.permissions .loader-wrapper .gif-wrp {
  width: 8% !important;
}
.modal-content .text-center.bottom-lg-sep.modal-sep.aws button{
  height: 5vh;
  width: 7vw;
  font-size: 1.9vh;
  margin-bottom: 1vh !important;
}
.permissions .container.actions .function-text {
    height: 4vh;
    padding: 0;
}
.permissions .container.actions .function-text .text{
    white-space: nowrap;
    display: flex;
    height: 100%;
    padding-left: 0.5vw;
    flex-direction: column;
    justify-content: center;
}
.permissions .container.actions .function-text .add-icon-container {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.permissions .change-safe .add-block.container.name {
    margin-left: 0.5vw;
    padding: 0.5vh 5% 0.5vh 0;
}
.permissions .change-safe .add-block.radio-inputs {
    padding: 1vh 0;
}
.permissions .change-safe .add-block button {
    height: 100% !important;
    width: auto;
    font-size: 1.8vh;
    padding: 1vh 1.5vw;
}
.common-form.modal-inner-wrapper.aws {
    padding: 0 2.5vw;
}
.modal-dialog .font-type-normal {
  font-size: 1.5vh;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
.change-safe-table-container .row.change-safe .list-icon.inactive:hover {
  color: #888 !important;
}
.details-input-group .status-text {
    display: inline-block;
    position: absolute;
    right: 1vw;
    bottom: 2.1vh;
    font-weight: bold;
    letter-spacing: 0.05vw;
}
.details-input-group .status-text.available {
    color: rgba(0, 180, 0, 0.9);
}
.details-input-group .status-text.exists {
    color: rgba(220, 0, 0, 0.9);
}

.permissions md-radio-button .md-label,
md-radio-button .md-label.inactive {
  padding-top: 0vh;
  // padding-bottom: 0.5vh;
  padding-bottom: 4%;
}

@media #{$small-only}{
  #full-height{
    height: 100% !important;
  }
  .permissions .change-safe-table-container .item .down .list-icon {
    padding-right: 1vh;
  }
  .permissions .change-safe-table-container .item .name {
    padding-top: 2.4vh;
  }
  .permissions .change-safe-table-container .item .actions {
    padding-top: 0vh;
  }
}
.permissions .row.change-safe .add-block.container.actions {
    width: auto;
    margin-left: 1.7vw;
}
.permissions md-radio-button .md-label,
md-radio-button .md-label.inactive {
  padding: 0.8vh 0;
}