/* commenting for now.
//TO DO: To figure out a way to import only required features, not all features
.periscope .common-main-content .page-content-container{
    height: calc(100vh - 25rem) !important;
}
.periscope {
  .page-header-text {
    display: inline-block;
    line-height: inherit;
  }
  .page-tabs {
    display:inline;
  }
  .search-bar {
    margin-right: 4rem;
  }
}
.mg-content-container {
    overflow-x: hidden;
    overflow-y: hidden;
    flex-grow: 1;
    position: relative;
    padding-left: 4rem;
}
.input-cover input {
    height: 35px;
    border: solid 1px #979797;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #777;
    padding: 0 10px;
    height: 40px;
}
.input-cover .search-input {
    padding: 0 45px;
    font-size: 16px;
    font-family: Montserrat;
    color: #666;
}
.input-cover .search-icon-input {
    color: #ccc;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
}
.input-group {
    position: relative;
    display: table;
    width: 60.1%;
    margin: auto;
    margin-top: 2rem;
    border-collapse: separate;
}
.table-search-box-wrap {
    width: 100%;
}
.list-caret {
    color: $pink;
    float: left;
    padding-top: 3px;
    padding-right: 10px;
    font-size: 10px;
}
.mg-content-container .glyphicon-triangle-top,
.mg-content-container .input-group .glyphicon-triangle-bottom {
    position: absolute;
    top: 38%;
    right: 20px;
    color: $pink;
    font-size: 10px;
}
input.search-input[disabled] {
    cursor: pointer!important;
}
input[disabled] {
    background: #fff;
}

.mg-searched-contents {
    z-index: 10;
}
.mg-searched-contents-innrwrapper {
    width: 100%;
    overflow-x: auto;
}
.mg-search-inner-wrappr {
    margin: 0 12px 12px 0;
}
.mg-action-cover {
    border: 1px solid #f20090;
    display: flex;
    height: 26px;
    border-radius: 3px;
}
.mg-action-cover span, .clear-text {
    font-size: 14px;
    color: #f20090;
    line-height: 21px;
    padding: 0 7px;
    padding: 0 0 0 7px;
}
.mg-action-cover span.action-text, .clear-text {
    font-size: 12px;
    line-height: 24px;
}
.mg-action-cover span.action-text:first-child {
    padding-left: 7px;
}
.mg-action-cover span, .clear-text {
    font-size: 14px;
    color: #f20090;
    line-height: 21px;
    padding: 0 7px;
    padding: 0 0 0 7px;
}
.mg-action-cover span.action-text, .clear-text {
    font-size: 12px;
    line-height: 24px;
}
.mg-action-cover span.dropdown-icon {
    padding-right: 7px;
}
.mg-searched-cover.clear-search {
    display: block!important;
    position: absolute;
    left: 100%;
    top: 7px;
}
.searchFilterContainer {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}
.password-widget-container {
    width: 100%;
    border: 1px solid #999;
    margin: auto;
    border-top: 0;
    overflow: auto;
    padding-bottom: 20px;
    background: #fff;
}
.cm-l2-expanded-inner-wrap {
    margin: auto;
    padding: 1rem;
}
.password-form {
    padding: 0rem 0 2rem 0;
}

.password-form-hint {
    font-size: 13px;
    color: #999;
}
.search-labels-container:nth-child(odd) {
    padding-right: 10px;
}

.mg-searched-contents {
    position: absolute;
    top: 7px;
    left: 45px;
    overflow: hidden;
    height: 28px;
    max-width: 86%!important;
    background: #fff;
}

.search-labels-container:nth-child(even) {
    padding-left: 10px;
}
.list-table-loader-wrp {
    position: absolute;
    width: 100%;
    height: calc(100% - 3rem);
    top: 3rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-table-loader-wrp .gif-wrp {
    height: 55vh;
    padding: 20% 0;
}
img {
    vertical-align: middle;
}
.unavailable-text {
    display: block;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    height: 7rem;
    padding-top: 4rem;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: montserratultralight;
}

.mg-inner-container {
    margin: auto;
    position: absolute;
    height: calc(100vh - 28rem);
    width: 100%;
    top: 0;
    background: #fff;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.mg-searched-contents-innrwrapper {
    width: 100%;
    overflow-x: auto;
}
.mg-searched-contents-inner {
    min-width: 5000px;
    width: 100%;
}
.mg-show-results p {
    font-size: 14px;
    font-family: Montserrat;
    letter-spacing: .037rem;
    color: #999;
    padding: 15px 0 0 0;
    font-weight: bold;
    margin: 0 0 10px;
}
.periscope-header {
    border-bottom: 1px solid #999;
}
.periscope-left-container,
li.header-names:first-child {
    width: 25%;
}
li.header-names {
    float: left;
    width: 36%;
    padding: 15px 0;
    font-size: 13px;
    color: #666;
    font-family: Montserrat;
    border: 0;
    font-weight: bold;
}
.list-sortable-arrow {
    position: relative;
}
.periscope-left-container {
    overflow-y: auto;
    height: inherit;
}
.periscope-user-data, .periscope-header, ul.periscope-account-details {
    margin: 0;
}

.user-name.ng-binding {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}
li {
    line-height: 20px;
}
li.user-data, .periscope-row-account {
    vertical-align: middle;
    padding: 15px 0;
    font-family: montserratLight;
    font-weight: 600;
    color: #333;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    letter-spacing: .5px;
}
.user-account-num {
    width: 48%;
    padding-left: 15px;
}
.user-roles {
    width: 52%;
}
.user-role-names .role-names {
    float: left;
    padding-right: 10px;
}

.periscope-right-container {
    position: absolute;
    left: 25%;
    border-left: 1px solid #999;
    width: 75%;
    overflow-y: auto;
    background: #fff;
}

.periscope-user-data, .periscope-header, ul.periscope-account-details {
    margin: 0;
}
li.user-data.active {
    background-color: #ed0295;
    cursor: pointer;
    color: #fff;
    transition: none!important;
    padding-left: 15px;
}
.role-names:last-child .role-name-comma {
    display: none;
}
.visiblity-hidden {
    visibility: hidden;
}
.open-list.user-role-names {
    color: #f20090;
}
.open-list.user-role-names .role-names {
    float: none;
    padding: 0;
}
li.header-names:first-child {
    padding-left: 13px;
}
li.header-names:nth-child(2) {
    width: 36%;
    padding-left: 34px;
}
.toAddPadding{
    padding-top: 67px;
}
.periscope-body-container {
    height: calc(100vh - 41rem);
}


// Modal

.overlay-container .overlay-state-con {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1005;
}

.overlay-container .overlay-state {
    display: table;
    height: 100%;
    min-height: 780px;
    width: 100%;
    text-align: center;
    background-color: rgba(24, 33, 44, 0.5);
    display: block;
}

.overlay-container .overlay-box {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-table-wrap {
    margin: 40px 0;
    text-align: left;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-table-wrap .overlay-table-text {
    font-size: 12px;
    font-size: 0.75rem;
    font-family: montserrat;
    color: #777;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-table-wrap .overlay-table {
    max-height: 150px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-table-wrap div.overlay-table::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    background: none;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-table-wrap div.overlay-table::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #cccccc;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-table-wrap div.overlay-table::-webkit-scrollbar-track {
    border-radius: 0px;
    -webkit-box-shadow: 0;
    background-color: transparent;
    background: none;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-bottom-section .overlay-bottom-heading {
    font-size: 12px;
    font-size: 0.75rem;
    font-family: montserrat;
    color: #ed0295;
    font-weight: 700;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-bottom-section .overlay-email-wrap {
    height: 30px;
    width: 100%;
    margin: 30px 0 15px;
    border: 1px solid #ccc;
    color: #999;
    font-family: montserratLight;
    font-size: 12px;
    font-size: 0.75rem;
    text-align: left;
    padding: 8px;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-bottom-section .overlay-note-wrap {
    width: 100%;
    height: 100%;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-button-wrap {
    text-align: center;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-button-wrap .form-button button {
    width: auto !important;
    border-radius: 5px !important;
    padding: 3% 25%;
    font-size: 18px;
    height: 4rem;
}
.overlay-button-wrap .form-button.secondary-button button {
    display: inline-block;
    background: #fff !important;
    color: #ed0295 !important;
}

.overlay-container .overlay-state-con {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1005;
}

.overlay-container .overlay-state {
    display: table;
    height: 100%;
    min-height: 780px;
    width: 100%;
    text-align: center;
    background-color: rgba(24, 33, 44, 0.5);
}

.overlay-container .overlay-state-wrp {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    transform: translateY(5%);
    top: 50%;
}

.overlay-container .overlay-box {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap {
    margin: 0;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    padding: 40px 0 20px 0;
    position: relative;
    left: 0;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    padding: 1.2rem 0;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-name {
    font-size: 2rem;
    font-family: montserrat;
    color: #ed0295;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.overlay-content .overlay-table {
    display: table;
    width: 100%;
}

.overlay-content .overlay-table-header {
    font: 100 15px / 20px montserratLight;
    padding: 15px 10px 15px 0;
    border-bottom: 1px solid #ccc;
    color: rgba(0, 0, 0, 0.5);
}

.overlay-content .overlay-table-contents {
    font: 100 15px / 20px montserrat;
    color: #000;
    padding: 10px 0;
}

.overlay-button-cover {
    padding: 1.2rem 0 0 0;
}

.overlay-container .overlay-button-wrap .form-button {
    display: inline-block;
    margin-right: 10px;
}

.overlay-container .overlay-button-wrap .form-button button,
.overlay-container .overlay-button-wrap .secondary-button button {
    width: 120px;
    width: 7.5rem;
    height: 40px;
    height: 2.5rem;
    font-weight: 100;
    outline: none;
    border: none;
    background: #fff !important;
    color: #ed0295 !important;
    font-family: montserratLight;
}

.overlay-container .overlay-button-wrap .form-button button:hover {
    color: #dc0089 !important;
}

.overlay-container .overlay-button-wrap .secondary-button button {
    display: inline-block;
    background: #ed0295 !important;
    color: #fff !important;
    border-radius: 8px;
    font-family: montserrat;
}

.overlay-container .overlay-button-wrap .secondary-button button:hover {
    background: #dc0089 !important;
    color: #fff !important;
}
.overlay-table-contents.multiple-block {
    max-height: 100px;
    overflow: auto;
}

.overlay-content .overlay-table-header {
    font-size: 12px;
}
.overlay-container .overlay-vertical-center {
    width: 80%;
    margin: 0 auto;
    height: 90vh;
}

.overlay-content {
    padding-top: 1rem;
    text-align: left;
    font: 100 15px / 20px montserrat;
    color: #777;
    height: 85%;
}

.overlay-content-description {
    width: 100%;
    padding-top: 1px;
}

.overlay-content-description-text {
    width: 100%;
    padding: 0 20px 0;
    font-size: 13px;
    letter-spacing: 0.001rem;
    color: #333;
    text-align: center;
}

.overlay-content-description-text span.bold-text {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .01rem;
    color: #333;
    padding: 0 10px 0 2px;
}

.overlay-content .overlay-table .table-cell {
    width: 4%;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.01rem;
    padding-top: 0.9%;
    color: #333;
    position: relative;
}

.overlay-content .overlay-table .table-cell:first-child {
    width: 40%;
    padding-left: 4%;
    padding-right: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.overlay-content .overlay-table .table-cell:nth-child(2) {
    width: 30%;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 25px;
}

.overlay-content .overlay-table .table-cell:nth-child(3) {
    width: 5%;
    padding-right: 25px;
}

.overlay-content .overlay-table .table-cell:last-child {
    width: 25%;
}

.overlay-content .overlay-table-header .table-cell {
    font-weight: lighter;
    font-family: montserratlight;
    position: relative;
    text-transform: uppercase;
}

.overlay-container .overlay-button-wrap .form-button {
    width: 20%;
}
.overlay-content .overlay-table-scroll .icon-remove {
    position: absolute;
    display: inline-block;
    top: 16%;
    right: 1%;
    color: #ed0295;
    font-size: 19px;
}
.overlay-inner-container {
    height: 100%;
    cursor: auto;
    background: #f9f9f9;
    -webkit-box-shadow: inset -1px 0 10px 1px #e3e0e3;
    -moz-box-shadow: inset -1px 0 10px 1px #e3e0e3;
    box-shadow: inset -1px 0 10px 1px #e3e0e3;
    height: 65%;
    overflow: auto;
}

.overlay-inner-container-wrapr {
    height: 100%;
}

.overlay-container .list-table-loader-wrp {
    position: static;
}

.overlay-container .error-blk.password-widget {
    width: 100%;
    padding: 0 20px;
}


.overlay-table-contents.multiple-block:nth-child(even) {
    background: #fff;
}
@media only screen and (min-width: 1920px) {
    .overlay-container .overlay-state-wrp {
        max-width: 1280px;
    }
}

@media only screen and (min-height: 1080px) {
    .overlay-inner-container-wrapr,
    .list-table-loader-wrp .gif-wrp {
        height: 75vh;
    }
}
.overlay-innerwrap .autocomplete-container {
    margin-top: 1rem;
}
.overlay-innerwrap .password-success-header {
    text-align: center;
}
.autocomplete-container .autocomplete-inner {
    width: 60%;
    margin: auto;
    position: relative;
}
.autocomplete-container .autocomplete-inner .search-icon-input {
    position: absolute;
    left: 1rem;
    top: 30%;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #000;
    display: inline-block;
    margin: 0 10px;
    margin-top: 9px;
}

.dot.green-dot {
    background: #16c316;
}

.dot.red-dot {
    background: #d21414;
}
*/