header
.container-fluid.periscope
    .container-fluid-wrapper.curved
        .page-header-container
            .page-nav-block
                .breadcrumb(ng-click="goTo('')") HOME
                .breadcrumb(ng-click="goTo('admin')") ADMIN
                .breadcrumb(ng-click="goTo('periscope')")
                    .active PERISCOPE
            .page-header-text PERISCOPE
        .common-main-content 
          .page-content-container
            div.relative
              div(ng-click='parentContainerClicked()')
                .dashboard-container
                      .mg-inner-container(ng-click='filterDropdown($event)')
                        #periscopeContentContainer.mg-content-container(element-properties element-height='periscopeElementHeight')
                          div(ng-show='!isLoadingDataFrPortlet', ng-cloak='')
                            div
                              .relative(ng-hide='loadingAfterDeleting')
                                .input-group.clearfix
                                  .table-search-box-wrap.relative.input-cover(ng-click='filterDropdown($event)')
                                    .search-icon-input
                                      span.icon-search
                                    span.glyphicon.glyphicon-triangle-bottom(aria-hidden='true', ng-if='!dropdown')
                                    span.glyphicon.glyphicon-triangle-top(aria-hidden='true', ng-if='dropdown')
                                    input#inputSearchBox.search-input(ng-class="{'hide-search-text': showSearchTagsContainer}", ng-focus='settingPaddingOfInput()', ng-model='periscopeSearch.overAllSearch', disabled='', placeholder='Enter a search tag to get started ')
                                  #searchKeywordsWrapper.mg-searched-contents.clearfix(ng-cloak='', ng-show='showSearchTagsContainer &&  !hideClearbtn')
                                    .mg-searched-contents-outrwrapr
                                      .mg-searched-contents-innrwrapper
                                        .mg-searched-contents-inner.clearfix
                                          .left.mg-searched-cover(ng-repeat='searchObj in searchOptionsValues')
                                            .left.mg-search-inner-wrappr(ng-if="searchObj.searchOptVal.length > 0 && searchObj.searchOptVal[$index] != '' ", ng-repeat=' searchvalue in searchObj.searchOptVal')
                                              .mg-action-cover.pointer(ng-click='deleteTag($index, searchObj.searchVariable, searchObj.searchOptVal, searchOptionsValues, searchvalue)', ng-class='{active:showactionpopup[cindex]}', role='button')
                                                span.action-text {{searchObj.searchVariable}}
                                                span(ng-if=" searchObj.searchVariable != '' ") :
                                                span.action-text {{searchvalue}}
                                                span.dropdown-icon.glyphicon.glyphicon-remove
                                  .left.mg-searched-cover.clear-search(ng-cloak='', ng-hide='hideClearbtn')
                                    .pointer.clear-text(ng-click='deleteAllTags()', ng-class='{active:showactionpopup[cindex]}', role='button')
                                      span.action-text Clear
                                  .searchFilterContainer(ng-cloak='', ng-click='$event.stopPropagation();', ng-if='dropdown')
                                    form(name='form', ng-submit='submitSearch(form.$valid);', novalidate='')
                                      .password-widget-container.cm-l2-expanded-container
                                        .password-widget-inner-wrap.cm-l2-expanded-inner-wrap
                                          .password-widget
                                            .password-form.common-form
                                              .password-form-hint Search for multiple items separated by a comma.
                                              .clearfix
                                                .search-labels-container.col-lg-6.col-md-6.col-sm-6.col-xs-12.no-sep
                                                  .common-form-label.common-label.title Search by Username
                                                  input(type='text', auto-complete, ui-items='dropDownValArray.userNameDropdownVal', placeholder='Username', ng-model='periscopeSearch.userName', id='#usernameInput')
                                                .search-labels-container.col-lg-6.col-md-6.col-sm-6.col-xs-12.no-sep
                                                  .common-form-label.common-label.title Search by Account
                                                  input(type='text', auto-complete, ui-items='dropDownValArray.accountNameDropdownVal', placeholder='Account', ng-model='periscopeSearch.accountName')
                                              .clearfix
                                                .search-labels-container.col-lg-6.col-md-6.col-sm-6.col-xs-12.no-sep
                                                  .common-form-label.common-label.title Search by Role 
                                                  input(type='text', auto-complete, ui-items='dropDownValArray.roleNameDropdownVal', placeholder='Role', ng-model='periscopeSearch.roleName')
                                                .search-labels-container.col-lg-6.col-md-6.col-sm-6.col-xs-12.no-sep
                                                  .common-form-label.common-label.title Search by Permission
                                                  input.permission-search-input(type='text', auto-complete, ui-items='dropDownValArray.permissionDropdownVal', placeholder='Permission', ng-model='periscopeSearch.permission')
                                            .text-center
                                              button.common-btn.btn.btn-primary.btn-lg.search-btn(ng-disabled="(periscopeSearch.userName == '' && periscopeSearch.accountName == '' && periscopeSearch.roleName == '' && periscopeSearch.permission == '')", type='input') SEARCH
                            div(ng-cloak='', ng-show='showSearchedResults')
                              .mg-show-results(ng-show='!loadingData && !nodataavailable && success')
                                  span Showing results for 
                                  span {{getObjLen(myPeriscopeData)}} 
                                  span(ng-if='getObjLen(myPeriscopeData) <= 1') user 
                                  span(ng-if='getObjLen(myPeriscopeData) > 1') users 
                                  span for 
                                  span {{accountNameList.length}} 
                                  span(ng-if='accountNameList.length <= 1') account 
                                  span(ng-if='accountNameList.length > 1') distinct accounts 
                              .mg-content-table
                                .periscope-table-container(ng-show='!loadingData && !nodataavailable && success')
                                  .periscope-header-container
                                    ul.periscope-header.clearfix
                                      li.header-names.left(ng-click='sortingFunc(headerNamesObj)', ng-repeat=' (index, headerNamesObj) in periscopeHeaders', ng-class="{'sorterul-col list-options list-option-sortable':headerNamesObj.sort,'list-sort-up':sortKeys[headerNamesObj.variable] == true, 'list-sort-down':sortKeys[headerNamesObj.variable] == false }")
                                        span.header-name {{ headerNamesObj.display }}
                                        span.list-sortable-arrow(ng-if='headerNamesObj.sort')
                                  #periscopeBodyContainer.periscope-body-container.relative.clearfix(ng-style='heightOfPeriscopeBody')
                                    #periscopeLeftContainer.periscope-left-container.left(ng-cloak='', onscroll='stickToTop()', ng-class="{'scrolling': isScrolling,'hovered-li': isUserNameHovered }", ng-style='heightOfPeriscopeLeftContainer')
                                      ul(class='periscope-user-data')
                                        li.user-data(ng-class="{'active': periscopeUserName == activeRow, 'moveToTop' : periscopeUserName == activeRow  }", ng-cloak='', ng-click='assignActiveRow(periscopeUserName)', ng-repeat=" (periscopeUserName, myData) in myPeriscopeData | toArray | orderBy: 'userName' : sortKeys['userName'] ", title='{{myData.userName}} \
                                        {{myData.emailId}}', ng-mouseover='userNameHovered()', ng-mouseleave='userNameNotHovered()')
                                          .user-name(ng-class="{'safari-font': isSafari }")
                                            | {{ myData.firstName }} {{ myData.lastName }} 
                                            span.small-text [ {{myData.userName}} ]
                                          .user-name(ng-class="{'safari-font': isSafari }") {{ myData.emailId }}
                                    .periscope-right-container.right(ng-style='heightOfPeriscopeBody')
                                      ul.periscope-account-details
                                        li.periscope-row(ng-if='username == activeRow', ng-repeat=" (username, myData) in myPeriscopeData | toArray | orderBy: 'userName' : $scope.sortKeys['userName'] ")
                                          .user-account
                                            .periscope-row-account(ng-click='togglePeriscopeRow(accountNumber, getObjLen(accountData.roleNames))', ng-repeat=" (accountNumber, accountData) in myData.accountDescription | toArray | orderBy :'accountNum' : sortKeys['accountName'] ")
                                              .clearfix
                                                .user-account-num.left
                                                  span(ng-class="{'safari-font': isSafari }")
                                                    | {{ accountData.accountName }} 
                                                    span.small-text(ng-class="{'safari-font': isSafari }") [ {{ accountData.accountNum }} ]
                                                  span.list-caret.glyphicon.glyphicon-triangle-right(ng-class="{'glyphicon-triangle-right': !accountList.isListExpanded[accountNumber], 'glyphicon-triangle-bottom': accountList.isListExpanded[accountNumber], 'visiblity-hidden' : getObjLen(accountData.roleNames) == 1 } ")
                                                .user-roles.right
                                                  .clearfix.user-role-names(ng-class="{'open-list' : accountList.isListExpanded[accountNumber]}")
                                                    .role-names(ng-class="{'more-names' : getObjLen(accountData.roleNames) > 2 && !accountList.isListExpanded[accountNumber]}", ng-click='goToPermissions(myData.userName, accountData.accountName, accountData.accountNum, allRoleNames.roleName) ', ng-repeat=" (roleName, allRoleNames) in accountData.roleNames | toArray | orderBy: 'roleName' : sortKeys['roles'] ")
                                                      span(ng-class="{'safari-font': isSafari }") {{ allRoleNames.roleName }}
                                                      span.role-name-comma(ng-if='!accountList.isListExpanded[accountNumber]') , 
                                loading-state(ng-show='loadingData')
                                .unavailable-text(ng-show='nodataavailable && !loadingData')
                                  | No data available
                                .password-widget.error-blk(ng-show='errored  && !loadingData', ng-cloak='')
                                  h1.password-success-header Error
                                  p.text-center {{errorMsg}}
                                  .return-button-wrap.text-center
                                    button.password-button.return-button(type='input', ng-click='goBack()') GO BACK
                      .mg-bottom-btns.clearfix(ng-if='selectedCheck', ng-cloak='')
                        .mg-right-block.right.clearfix
                          .mg-approve-btn.left
                            .secondary-button.form-button
                              button(ng-click='approveSelected()') APPROVE
                          .mg-reject-btn.right
                            .form-button
                              button(ng-click='rejectSelected()') REJECT
    .overlay-container(ng-if='showPermissionOverlay', ng-cloak='')
      .overlay-state-con
        .overlay-state
          .overlay-state-wrp
            .overlay-vertical-center
              .overlay-innerwrap
                .overlay-name {{permissionPopup.roleName}} PERMISSIONS
                .overlay-content
                  .overlay-content-description.mg-head-group-det
                    .overlay-content-description-text
                      span User:
                      span.bold-text {{permissionPopup.userName}}
                      span Role:
                      span.bold-text {{permissionPopup.roleName}}
                      span Account Name:
                      span.bold-text {{permissionPopup.accountName}}
                      span Account Number:
                      span.bold-text {{permissionPopup.accountNum}}
                    .overlay-content-description-text
                      span(style='') Allow
                      span.dot.green-dot.ng-binding
                      span(style='') Deny
                      span.dot.red-dot.ng-binding
                  .autocomplete-container(ng-click='autocompleteCLicked($event)')
                    .autocomplete-inner
                      .search-icon-input
                        span.icon-search
                      input(placeholder='Search Permissions', type='String', name='nameAutoComplete', ng-model='permissionSearch', ng-click='showAutoCompleteResults()')
                  .overlay-table.overlay-table-header
                    .table-cell.uppercase Permission
                    .table-cell.uppercase Resource
                    .table-cell.uppercase Effect
                    .table-cell.uppercase Condition
                  .overlay-inner-container(ng-show='!loadingDataFrRoles && !nodataavailableFrRoles && successInRoles')
                    .overlay-inner-container-wrapr
                      .overlay-table.overlay-table-contents.multiple-block(ng-repeat='list in permissionPopup.permissionList  | filter:permissionSearch')
                        .table-cell(title='{{list.permissionName}}') {{list.permissionName}}
                        .table-cell(title='{{list.resourceName}}') {{list.resourceName}}
                        .table-cell.center
                          span.dot(title='{{list.effect}}', ng-class="{'red-dot':list.effect == 'deny','green-dot':list.effect == 'allow'}")
                        .table-cell
                          span.crop-text(title='{{list.conditionName}}') {{list.conditionName}} 
                          span.crop-text(title='{{list.conditionTag}}')
                            span(ng-if="list.conditionTag != '' ")  : 
                            | {{list.conditionTag}}
                          span.crop-text(title='{{list.conditionValue}}')
                            span(ng-if="list.conditionValue != '' ")  : 
                            | {{list.conditionValue}}
                  loading-state(ng-show='loadingDataFrRoles')
                  .unavailable-text(ng-show='nodataavailableFrRoles && !loadingDataFrRoles')
                    | No data available
                  .password-widget.error-blk(ng-show='erroredInRoles  && !loadingDataFrRoles', ng-cloak='')
                    h1.password-success-header Error
                    p.text-center {{errorMsgFrRoles}}
                .overlay-button-cover
                  .overlay-button-wrap
                    .secondary-button.form-button
                      button(ng-click='closePemissionOverlay()') CLOSE
