header
sideBar
script(type='text/ng-template', id='createNewFolderPopup.html')
    .modal-sep.createFolder
        .common-header-label.text-center Create new folder
    loading-state(ng-if="isLoadingModalData")
    form.createFolder.left-lg-sep.right-lg-sep(ng-if="!isLoadingModalData" name="CreateFolder" ng-submit="saveNewFolder(newFolderName)")
        .modal-inner-wrapper
            .common-form
                .common-form-row
                    .details-input-group
                        .common-form-label Folder Name
                        input.form-control.input-box-style(placeholder="Enter folder name" restrict-special-char ng-model="newFolderName" required)
                
        .text-center.bottom-lg-sep.modal-sep.aws
            .clearfix.bottom-sm-sep
                button.common-btn.btn.btn-primary.btn-lg(type="submit") CREATE 
            .clearfix
                button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="close()") CANCEL
      
script(type='text/ng-template', id='error.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Error
        .top-lg-sep.notification-text {{errorMessage}}
    
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="close()") Close
        
.container-fluid.safes
    .container-fluid-wrapper.curved
        .page-header-container
            .header-inner-container
                nav-bar(active-tab="safes" gotoPage="goToPage" nav-tags="safesNavTags")
                .page-header-text SAFES

        .page-content-container
            .right.search-bar-container
                .search-bar
                    .search-box
                        .search-icon
                            .icon-search
                        .search-input-wrapper
                            input.search-input-box.input-box-style(type='text' placeholder='SEARCH' ng-model="searchValue")
            md-content
                md-tabs(md-dynamic-height md-border-bottom)
                    md-tab(ng-repeat="cat in categories" ng-attr-label="{{cat.name}}" ng-click="resetSlide(cat)")
                        md-content(class="md-padding md-content-wrapper")
                            loading-state(ng-if='isLoadingData')                        
                            .slider-block(ng-class="{'slide-left' : slide == true, 'hidden' : !cat.tableData}" ng-if='!isLoadingData')                                
                                .md-content-inner-wrapper
                                    .new-container.page-content-container
                                        .create-folder-container.slide-header
                                            .function-text(ng-click="sliderFunction(null)")
                                                .clearfix
                                                    .editColor.left.static
                                                        .glyphicon.glyphicon-chevron-left
                                                    div.left
                                                        span {{slideHeader}}
                                            .function-text.link-style.option.right(ng-show="slideAuth == 'write'" ng-click="createFolder(cat.name)")
                                                .action-icon-wrapper.static
                                                    .rotate.glyphicon.glyphicon-remove-circle
                                                .create-link.middle-block
                                                    .text.hide-in-mobile CREATE NEW FOLDER
                                            .sub-header.clearfix {{slideHeaderDescription}}
                                            
                                                                                                                                                                               
                                    listTable(data="slideItems" auth="slideAuth" admin="false" slider-func="sliderFunction" search-value="searchValue" type="'accordion'" loading="isLoadingData" folder="getFolder(folder)")
                            .md-content-inner-wrapper(ng-if="slide !== true")  
                                .new-container.page-content-container(ng-if='!isLoadingData' ng-class="{'slide-left-parent' : slide == true}")
                                    radio-buttons.invisible(data="radio" state="'active'")
                                    tiles(data="cat.tableData" tile-func-available="true" img="'safe_tile.png'" search-value="searchValue" tile-details="sliderFunction" ng-if="cat.tableData")
                                    .unavailable-text(ng-if='cat.tableData.length === 0')
                                      | No safes available
            
//- footer  
