header
sideBar

.container-fluid.documentation
    .container-fluid-wrapper.curved
        .page-header-container
            .header-inner-container
                nav-bar(active-tab="documentation" gotoPage="goToPage" nav-tags="documentationNavTags")
                .page-header-text DOCUMENTATION
                .page-sub-header Base URL :  
                    //- TO-BE-CHECKED
                    span https://example.com/vault

                .right.search-bar-container
                    .search-bar
                        .search-box
                            .search-icon
                                .icon-search
                            .search-input-wrapper
                                input.search-input-box.input-box-style(type='text',placeholder='SEARCH' ng-model="searchValue")
        .page-content-container.new-container
            .documentation-table-container
                .header-block   
                    .cell.col-lg-4.col-md-4   NAME
                    .cell.col-lg-6.col-md-6   URL
                    .cell.col-lg-2.col-md-2   METHOD 
                .data-block
                    .unavailable-text(ng-if='filteredApiList.length === 0')
                        | NO API FOUND 
                    .table-row(ng-repeat="item in filteredApiList = (apiData | filter : searchValue) track by $index")
                        span(class="caret" ng-class="{'down' : expandBlock == true && $index == currentBlock}")
                        .table-row-data(ng-click="expand($index)")
                            .cell.name.col-lg-4.col-md-4 {{item.title}} 
                            .cell.url.col-lg-6.col-md-6  {{item.url}}
                            .cell.method.col-lg-2.col-md-2 {{item.methodType}}
                        .expand-block(ng-class="{'expand' : expandBlock == true && $index == currentBlock}")
                            .description {{item.description}}
                            .sample.row
                                .sample-left.col-lg-6.col-md-6 
                                    .type.col-lg-4 SAMPLE REQUEST :
                                    .details.col-lg-8 {{item.sampleRequest}}
                                .sample-left.col-lg-6.col-md-6 
                                    .type.col-lg-4 SAMPLE RESPONSE : 
                                    .details.col-lg-8 {{item.sampleResponse}}
            
                            .note(ng-if="item.note") Note :  {{item.note}}
