.documentation .page-header-container {
    height: 21.5%;
}
.documentation .header-inner-container {
    height: 100%;
}
.documentation .page-sub-header {
    font-family: montserrat;
}
.page-sub-header span {
    color: #e20074;
}
.documentation .right.search-bar-container {
    position: absolute;
    right: 3vw;
    top: 13vh;
    z-index: 10;
    height: 4vh;
}
.documentation .page-content-container.new-container {
    height: 76% !important;
}    
.documentation .page-content-container .documentation-table-container {
    padding: 0 2.81vw;
    height: 98%;
    margin-top: 2%;
}
.documentation .documentation-table-container .header-block {
    height: 4vh;
    padding: 1vh 3vw;
    border-bottom: 0.1vh solid #333;
}
.documentation .header-block .cell {
    font-size: 1.7vh;
}
.documentation .documentation-table-container .data-block {
    overflow-y: auto;
    height: 90%;    
}
.documentation .data-block .table-row {    
    display: block;
    position: relative;
}
.documentation .table-row .table-row-data {
    height: 6.5vh;
    padding: 0 3vw;
    border-bottom: 0.1vh solid #ccc;
    cursor: pointer;
}
.documentation .table-row .table-row-data .cell {
    padding: 0;
    font-size: 1.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.documentation .table-row .table-row-data .cell.name {
    font-family: montserrat;
}
.documentation .table-row .expand-block {
    padding: 0 3vw;
    border: 0.1vh solid #eee;
    background: #fdfdfd;
    color: #333;
    border-bottom: 0;
    height: 0;
    font-size: 1.7vh;
    overflow-y: auto;
    @include transition(.3s ease-in-out height);
}
.documentation .table-row .expand-block.expand {
    height: 30vh;    
    border-bottom: 0.1vh solid #ccc;
    @include transition(.3s ease-in-out height);
} 
.documentation .expand-block .description,
.documentation .expand-block .sample,
.documentation .expand-block .note {
    padding: 2vh 0;
}
.documentation .table-row .caret {
    transform: rotate(-90deg);
    position: absolute;
    top: 2.8vh;
    left: 0.5vw;
    border-top-width: 0.8vh;
    border-right-width: 0.8vh;
    border-left-width: 0.8vh;
    @include transition(.3s ease-in-out transform);
}
.documentation .table-row .caret.down {
    transform: rotate(0deg);
    height: auto;
    @include transition(.3s ease-in-out transform);
}
.documentation .expand-block .sample .type {
    font-family: montserrat;
    font-weight: bold;
    padding-left: 0;
}
.documentation .expand-block .sample .sample-left,
.documentation .expand-block .sample .sample-right {
    padding-left: 0;
}
.documentation .expand-block .sample .details {
    word-wrap: break-word; 
}
.documentation .expand-block .note {
    color: #e20074;
}
