header
sideBar
script(type='text/ng-template', id='deleteSafePopup.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Confirmation
    .top-lg-sep.notification-text Are you sure you want to delete this safe?
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="deleteSafe(safeToDelete)") DELETE
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="close()") CANCEL
script(type='text/ng-template', id='error.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Error
        .top-lg-sep.notification-text {{errorMessage}}
    
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="close()") Close
script(type='text/ng-template', id='notify.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Notification
        .top-lg-sep.notification-text Admin is not allowed to view inside safe
    
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="close()") Close


.container-fluid
    .container-fluid-wrapper.curved
        .page-header-container.admin
            .header-inner-container
                nav-bar(active-tab="admin" gotoPage="goToPage" nav-tags="adminNavTags")
                .page-header-text ADMIN
        .page-content-container.admin
            .right.search-bar-container
                .search-bar
                    .search-box
                        .search-icon
                            .icon-search
                        .search-input-wrapper
                            input.search-input-box(type='text' placeholder='SEARCH' ng-model="searchValue")
            md-content
                md-tabs(md-dynamic-height md-border-bottom)
                    md-tab(label="Safe Management")
                        md-content(class="md-padding md-content-wrapper" ng-init="displayGrid")  
                            .md-content-inner-wrapper
                                .admin.slim-container                      
                                    .dropdown-wrapper
                                            drop-down(drop-down-options="dropDownOptions")
                                    
                                    .right.hide-in-mobile
                                        .view-controller-img(ng-click="displayGrid = !displayGrid")
                                            img(src="assets/images/button_grid.png" ng-if="!displayGrid")
                                            img(src="assets/images/button_list.png" ng-if="displayGrid")                                    
                                    .function-text.link-style.option.right(ng-click="goTo('change-safe')")
                                        .action-icon-wrapper.static
                                            .rotate.glyphicon.glyphicon-remove-circle
                                        .create-link.middle-block.hide-in-mobile
                                            .text CREATE NEW SAFE
                                loading-state(ng-if='isLoadingData')                                                                                                                                  
                                .admin.new-container.page-content-container(ng-if="!displayGrid")
                                    .unavailable-text(ng-if='(dataForTable.length === 0) && (isLoadingData)')
                                        | No Safe Available 
                                    .tiles-division-container(ng-init="numOfTiles = item.safes.length" ng-repeat="item in data | orderBy : 'type' | filter : {'type' : dropDownOptions.selectedGroupOption.value} ")
                                        .tiles-division-title
                                          | {{item.type}}
                                          span(ng-if="numOfTiles > 1") s
                                          |  ({{numOfTiles}}) 
                                        tiles(data="item.safes" num-of-tiles="numOfTiles" tile-func-available="true" img="'safe.png'" search-value="searchValue" tile-details="showNotification" parent="admin" edit-folder="adminEditFolder(param)" delete-folder="deleteSafePopup(param)" loading="isLoadingData")
                                .admin.new-container.page-content-container(ng-if="displayGrid")
                                    .compressed-table
                                        listTable(data="dataForTable" admin="true" search-object="{'type' : dropDownOptions.selectedGroupOption.value}" search-value="searchValue" loading="isLoadingData" edit-folder="adminEditFolder(param)" delete-folder="deleteSafe(param)")

                    //- md-tab(label="Policy Management")
                    //- md-tab(label="API Management")
